* text=auto eol=lf

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.gb binary
*.gbc binary
*.sav binary
*.bin binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.wav binary
*.mp3 binary
*.prof binary
